/* #Tablet (Landscape)
================================================== */

@media only screen and (max-width: 1080px) {

/* Disable CSS animations */
.animated {
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

/* Disable Parallax */
.parallax-bg1, .parallax-bg2, .parallax-bg3 .parallax-bg7, .parallax-bg8., .parallax-bg9{
    background-position: 50% 0 !important;
}

}

/* #Tablet (Portrait)
================================================== */

@media only screen and (max-width: 959px) {


}

/* #Mobile (Landscape)
================================================== */

@media only screen and (max-width: 767px) {

.carousel-control.right span, .carousel-control.icon-next span {
    right: 20%;
}
.carousel-control.left span, .carousel-control.icon-prev span {
    left: 15%;
}

}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 440px) {


}
/*  Stuff I added for the possible image grid
================================================== */

/* Responsive layout - makes a two column-layout instead of four columns
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/
